@charset "8";
@font-face {
    font-family: Anime;
    src: url(fonts/anime.ttf);
}
:root{
    
   --font-anime:Anime;

}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: lightgray;
}

header{
     display: flex;
     align-items: center;
     flex-wrap: nowrap;
     background-color: #1A1A1A;
     padding: 10px;
     height: 50px;
     }
header div{
    
    width: 700px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
   }

header div img{
    width: 200px;
}

header div a{
   
    padding: 20px;
    text-decoration: none;
    color: green;
    color: white;
    
}