@charset "8";
@font-face {
    font-family: Anime ;
    src: url(fonts/anime.ttf);
}
:root{
    
   --font-anime:Anime;

}

*{
    margin: 0px;
    padding: 0px;
}
.inline-block{
    display: inline-block;
}


header{
     background-color: #1A1A1A;
     margin: auto;
     text-align: center;
     
      }

header p{
    font-family: var(--font-anime);
    color: white;
    font-weight: normal;
    font-size: 2em;
    padding-left: 100px;
    
    
}
header img{
   width: 60px;
   position: absolute;
   top: 10px;
   padding-left: 10px;

    
}
nav{
    background-color:#1A1A1A ;
    padding: 10px;
    box-shadow: 0px 6px 10px 1px rgba(0, 0, 0, 0.13);
    
    

}

nav a {
    text-decoration: none;
    color: white;
    padding: 0px 10px 0px 0px;
   
    
}

nav a:hover{
    color: grey;
    background-color: aliceblue;
    border-radius: 10px;
}

main{
    height: 100vh;
    background-image: url(imagens/02.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left top;
    
}
div.fundo{
    background-color: white;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    min-width: 300px;
    max-width: 800px;
    border-radius: 0px 0px 10px 10px;
}
div.bloco{
    border: 1px solid green;
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: aqua;
    border-radius: 10px;
    margin: auto;
    
}
