@charset "UTF8";

*{
    margin: 0%;
    padding: 0%;
}

header{
    background-color: rgb(40, 82, 68);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    
}

header img{
    
    width: 100px;
    padding-top: 20px;

    
}

header h1{
    
}
